VITE_API_URL=http://localhost:5000

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyD6wNu2riosW60Mb7JIkBNsow6jPLtrthw
VITE_FIREBASE_AUTH_DOMAIN=zipvault-e0153.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=zipvault-e0153
VITE_FIREBASE_STORAGE_BUCKET=zipvault-e0153.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=204852763055
VITE_FIREBASE_APP_ID=1:204852763055:web:248aa1c9b7c8db840a375a